*, *:before, *:after{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
body{font-size:18px; color:#404040; overflow:auto; overflow-x:hidden; margin:0px auto; padding:0px; font-family:"GE SS Two"; direction:rtl; min-width:350px; max-width:2200px; background-color:#fff; font-weight:300}
.clr{clear:both; display:block; height:0; padding:0}
img{border:0; vertical-align:middle}
a, a:hover, input{text-decoration:none; outline:0}
ul{-webkit-padding-start:0}
.item-fl{float: left;}
.item-fr{float: right;}
.item-mt10{margin-top: 10px;}
.item-mt20{margin-top: 20px;}
.item-mb10{margin-bottom: 10px;}
.item-mb20{margin-bottom: 20px;}
.item-pt10{padding-top: 10px;}
.item-pt20{padding-top: 20px;}
.item-pb10{padding-bottom: 10px;}
.item-pb20{padding-bottom: 20px;}

header{max-width:1170px; width:100%; padding:15px 10px; margin:0 auto; background:url(../images/h_bg.png) no-repeat top center}
header .logo{float:right; display:block; width:50%}
header .logo img{max-height:94px; max-width:100%}
header ul{padding:0; margin:20px 0 0; list-style:none; float:left}
header ul li{position:relative; float:left; background-color:#d6a329; border-radius:100px; color:#fff; width:30px; height:30px; text-align:center; padding:5px; margin:0 5px 0 0}
header ul li a:link, header ul li a:visited{color:#fff}
header ul li svg{width:16px !important}
header ul li.lang{font-family:Tahoma}
header .date{color:#909090; font-size:14px; font-weight:500}
header .date{display:block; float:left; padding:10px 10px 0; text-align:left; width:50%}
header .tooltip>div{transition:all 0.3s ease-out; position:absolute; top:38px; box-shadow:0px 0px 50px -20px rgba(0,0,0,0.75); background-color:#fff; z-index:999999999}
header .tooltip.srclose>div{visibility:hidden; opacity:0}
header .tooltip.sropen>div{visibility:visible; opacity:1}
header .tooltip>div{border:1px solid #ccc; padding:5px}
header .tooltip .triangle-up{width:0; height:0; border-left:8px solid transparent; border-right:8px solid transparent; border-bottom:8px solid #ccc; position:absolute; bottom:-10px; right:50%; margin-right:-8px; opacity:0.0; transition:all 0.3s ease-out; z-index:9999}
header .tooltip.sropen .triangle-up{opacity:1.0; transition:all 0.3s ease-out}
header .srch>div{width:200px; right:-85px}
header .srch input[type="text"]{width:70%; float:right; font-family:GE SS Two; font-size:14px; color:#404040; padding:5px; background-color:#eee; border-radius:3px; border:none}
header .srch input[type="button"]{width:28%; float:right; margin-right:2%; font-family:GE SS Two; font-size:14px; color:#fff; padding:5px; background-color:#d6a329; border-radius:3px; border:none; cursor:pointer}
header .srch input[type="button"]:hover{background-color:#009247}

nav{background-color:#009247}
nav>div{max-width:1170px; width:100%; padding:0 10px; margin:0 auto; position:relative}
nav .login{float:left}
nav #menu{padding:0; margin:0; list-style:none; float:right}
nav #menu>li{display:inline-block; position:relative; z-index:99}
nav #menu>li>a:link, #menu>li>a:visited, nav .login:link, nav .login:visited{color:#fff; font-size:16px; text-decoration:none; padding:10px; display:block; text-align:center; line-height:20px; font-weight:500}
nav #menu>li:hover>a, nav .login:hover{color:#f4c962}
nav #menu>li.selected>a:link, #menu>li.selected>a:visited{color:#f4c962}
nav #menu>li>ul{display:none; padding:10px 0 0; margin:0; list-style:none; background:url(../images/h_bg.png) no-repeat #009247 top center; width:200px !important; position:absolute; top:40px; right:0; overflow:hidden; border-top:0}
nav #menu>li>ul li{margin:0 10px}
nav #menu>li>ul li a:link, #menu>li>ul li a:visited{display:block; font-size:14px; color:#fff; text-decoration:none; padding:8px; border-bottom:1px dotted #fff; line-height:16px; transition:all 0.3s ease-out}
nav #menu>li>ul li a:hover{color:#f4c962}
nav #menu>li>ul li:last-child{margin-bottom:15px}
nav .slicknav_menu{display:none; background:#009247; padding:5px; font-size:14px; float:right}
nav .slicknav_btn{position:relative; display:block; vertical-align:middle; float:right; padding:0.438em 0.625em 0.438em 0.625em; line-height:1.125em; cursor:pointer; margin:4px 5px 0; text-decoration:none}
nav .slicknav_menu .slicknav_menutxt{display:block; line-height:1.188em; float:left; color:#fff; font-size:23px; white-space:nowrap}
nav .slicknav_menu .slicknav_icon{float:right; margin:0.300em 0 0 0.438em}
nav .slicknav_menu .slicknav_no-text{margin:0}
nav .slicknav_menu .slicknav_icon-bar{display:block; width:2.125em; height:0.125em; border-radius:1px; box-shadow:0 1px 0 rgba(0,0,0,0.25); background-color:#fff}
nav .slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar{margin-top:0.3em}
nav .slicknav_nav{clear:both; margin:0; padding:0; position:absolute; top:40px; right:0; width:100%; background-color:#009247; z-index:9}
nav .slicknav_nav ul, .slicknav_nav li{display:block}
nav .slicknav_nav .slicknav_arrow{border-top-color:#fff !important; border-bottom-color:#fff !important; display:inline-block; width:0px; height:0px; margin-right:2px; vertical-align:middle; border-top:4px solid rgb(0,0,0); border-right:4px solid transparent; border-bottom:0px dotted; border-left:4px solid transparent; content:''}
nav .slicknav_nav .slicknav_item{cursor:pointer}
nav .slicknav_nav .slicknav_row{display:block}
nav .slicknav_nav a{display:block; padding:5px 10px; margin:2px 5px; text-decoration:none; color:#fff}
nav .slicknav_nav a img{display:none}
nav .slicknav_nav a:hover{color:#fff}
nav .slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a{display:inline; padding:0; margin:0}
nav .slicknav_menu:before, .slicknav_menu:after{content:""; display:table}
nav .slicknav_menu:after{clear:both}
nav .slicknav_nav, .slicknav_nav ul{list-style:none; overflow:hidden}
nav .slicknav_nav ul{padding:10px; margin:0}
nav .slicknav_nav .slicknav_row{padding:5px 10px; margin:2px 5px}
nav .slicknav_nav li{border-bottom:1px dotted #fff}
nav .slicknav_nav li:last-child{border-bottom:none}
nav .slicknav_nav li ul li{border-bottom:1px solid #606060}
nav .slicknav_nav li ul a{color:#fff !important; margin:0; padding:5px 10px; border-top:none}
nav .slicknav_nav li ul li:last-child a{border-bottom:none}
nav .slicknav_nav .slicknav_row:hover{color:#d8dde7}
nav .slicknav_nav .slicknav_txtnode{margin-left:15px}
nav .slicknav_menu .dropdown{background-color:#404040}

.slider .slick-slider{direction:ltr;  position:relative;  display:block}
.slider .slick-track{position:relative; top:0; left:0; display:block}
.slider .slick-list{position:relative;  display:block;  overflow:hidden}
.slider .slick-slide{overflow:hidden; display:block}
.slider .slick-dots{position:absolute; top:0; right:30px; height:100%; padding:0; margin:0; list-style:none; display:-webkit-box; display:-moz-box; display:-webkit-flexbox; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-orient:vertical; -moz-box-orient:vertical; -webkit-box-direction:normal; -moz-box-direction:normal; -webkit-flex-direction:column; -ms-flex-direction:column; flex-direction:column; -webkit-box-pack:center; -moz-box-pack:center; -webkit-flex-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-flex-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center}
.slider .slick-dots li{padding:2px 0; width:15px; text-align:center; cursor:pointer}
.slider .slick-dots li span{display:block; width:15px; height:15px; background-color:rgba(0,0,0,0.2)}
.slider .slick-dots li.slick-active span{background-color:#fff; border:1px solid rgba(0,0,0,0.2)}
.slider .slick-slide img{width:100%; height:650px}

.bg{width:100%; overflow:hidden}
.bg .bg_r{height:150px; float:right; width:54.75%; background-size:100% auto; margin:0.5% 0 0.5% 0.25%; transform:skew(-30deg,0deg); overflow:hidden; background-color:#343434; margin-right:-5%; position:relative}
.bg .bg_l{height:150px; float:left; width:54.75%; background-size:100% auto; margin:0.5% 0.25% 0.5% 0; transform:skew(-30deg,0deg); overflow:hidden; background-color:#009247; margin-left:-5%; position:relative}
.bg .bg_r div{float:left; width:585px; max-width:100%; transform:skew(30deg,0deg); display:block; position:absolute; top:0; left:0; padding:20px 10px 20px 80px}
.bg .bg_l div{float:right; width:585px; max-width:100%; transform:skew(30deg,0deg); display:block; position:absolute; top:0; right:0; padding:20px 80px 20px 10px}
.bg .bg_r img, .bg .bg_l img{min-width:100%; transform:skew(30deg,0deg); position:relative; z-index:-1; min-height:100%}
.bg .bg_r .title, .bg .bg_l .title{color:#fff; font-size:34px; font-weight:bold}
.bg .bg_l .des{display:block; color:#fff}
.bg .bg_l .des a:link, .bg .bg_l .des a:visited{display:inline-block; color:#fff}
.bg .bg_l .des a:hover{color:#d6a329}
.bg .bg_r a:link, .bg .bg_r a:visited{color:#d6a329; float:left; padding:10px 0 0}
.bg .stb{transform:skew(-30deg,0deg); background-color:rgba(255,255,255,0.8); display:block; float:right; width:78%; padding:10px 20px 10px 10px; margin-left:2%}
.bg .sbtn{transform:skew(-30deg,0deg); background-color:#d6a329; display:block; float:right; width:20%; padding:10px; transition:all 0.3s ease-out}
.bg .bg_r input[type="text"]{font-family:"GE SS Two"; border:none; background:none; width:100%; transform:skew(30deg,0deg); color:#404040; font-size:18px}
.bg .bg_r input[type="submit"]{color:#fff; font-family:"GE SS Two"; border:none; cursor:pointer; background:none; width:100%; transform:skew(30deg,0deg); font-size:18px}
.bg .sbtn:hover{background-color:#009247; transition:all 0.3s ease-out}

.news .slick-slider{position:relative;  display:block}
.news .slick-track{position:relative; top:0; left:0; display:block}
.news .slick-list{position:relative;  display:block;  overflow:hidden}
.news .slick-slide{overflow:hidden; float:right; position:relative; font-size:18px}
.news .slick-dots{position:absolute; bottom:60px; left:0; padding:10px; margin:0; list-style:none; text-align:left; margin:0 auto}
.news .slick-dots li{width:20px; cursor:pointer; margin:0 2px; display:inline !important}
.news .slick-dots li span{display:inline-block; width:20px; height:7px; background:#fff}
.news .slick-dots li.slick-active span{background:#d6a329}
.news .slick-slide .nfbar{background-color:#029146; text-align:left; padding:10px; color:#fff; font-family:GESS_Light; border-radius:0 0 10px 10px}
.news .slick-slide img{width:100%; height:300px; transition:all 0.3s ease-out}
.news .slick-slide:hover img{transform:scale(1.2); transition:all 0.3s ease-out}
.news .slick-slide .ntitle{color:#fff; position:absolute; width:100%; bottom:0; left:0; background:rgba(0,0,0,0.5); padding:20px; font-weight:500; height:112px}

.nu{background-image:url("../images/bg_news.png"); height:100%; background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:cover; padding:50px 0}
.nu>div{max-width:1170px; width:100%; padding:0 10px; margin:0 auto; position:relative}
.news, .update{float:right; width:50%; padding:0 20px}
.htitle{text-align:center; font-size:36px; color:#009247; padding:0 0 30px 0; background:url(../images/under_title.png) no-repeat bottom center; font-weight:bold; margin-bottom:20px}
.viewall{text-align:center; padding:30px 0 0}
.viewall a:link, .viewall a:visited{background-color:#d6a329; color:#fff; padding:5px 20px; font-weight:500; transition:all 0.5s ease-out}
.viewall a:hover{border-radius:50px; transition:all 0.5s ease-out; background-color:#009247}

.update ul{padding:0; margin:0; list-style:none; min-height:300px}
.update ul li{border-bottom:1px dashed #ddd; transition:all 0.3s ease-out}
.update ul li a:link, .update ul li a:visited{display:block; color:#404040; font-weight:500; padding:14px 10px; transition:all 0.3s ease-out; text-align:justify}
.update ul li:hover{transition:all 0.3s ease-out}
.update ul li a .date{display:block; color:#d6a329; position:relative; overflow:hidden}
.update ul li a .date:after{content:""; position:absolute; right:110%; width:100%; height:16px; background-color:#009247; z-index:0; transition:all 0.3s ease-out; transform:skew(-30deg,0deg); top:4px}
.update ul li a:hover .date:after{right:200px; transition:all 0.3s ease-out }
.update ul li a:hover .date, .update ul li a:hover span span{color:#009247}
.update ul li a span span{color:#d6a329}

.statistics{background-image:url("../images/bg_statistics.png"); height:100%; background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:cover; padding:50px 0}
.statistics>div{max-width:1170px; width:100%; padding:0 10px; margin:0 auto; position:relative}
.statistics .slick-slider{position:relative;  display:block}
.statistics .slick-track{position:relative; top:0; left:0; display:block}
.statistics .slick-list{position:relative;  display:block;  overflow:hidden}
.statistics .slick-slide{overflow:hidden; float:right; position:relative; text-align:center}
.statistics .slick-next{position:absolute; bottom:50%; right:0; cursor:pointer; padding:0 5px; transition:all 0.3s ease-out}
.statistics .slick-prev{position:absolute; bottom:50%; left:0; cursor:pointer; padding:0 5px; transition:all 0.3s ease-out}
.statistics .slick-next:hover, .statistics .slick-prev:hover{transition:all 0.3s ease-out}
.statistics .slick-slide img{max-width:80%; margin:0 10%}
.stat_title{text-align:center; font-size:24px; font-weight:bold; padding:0 0 30px}
.graph_title{text-align:center; font-size:24px; font-weight:bold; display:block; padding:30px 0 0}

.gallery{background-image:url("../images/bg_gallery.png"); height:100%; background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:cover; padding:50px 0}
.gallery>div{max-width:1170px; width:100%; padding:0 10px; margin:0 auto; position:relative}
.gallery>div>div{float:right; width:33.333%; padding:0 10px}
.photo_gallery ul{padding:0; margin:0; list-style:none}
.photo_gallery ul li{float:right; width:50%; padding:0 5px 10px}
.photo_gallery ul li:nth-child(3), .photo_gallery ul li:nth-child(4){padding-bottom:0}
.photo_gallery ul li a{display:block; overflow:hidden}
.photo_gallery ul li img{width:100%; height:130px; transition:all 0.3s ease-out}
.photo_gallery ul li:hover img{transform:scale(1.2); transition:all 0.3s ease-out}
.vidfile{position:relative}
.vidfile img.vidimg{height:270px; width:100%}
img.play{position:absolute; top:50%; right:50%; margin:-27px -38px 0 0; opacity:0.8}

#cboxCurrent, #cboxTopCenter, #cboxClose, #cboxBottomCenter{display:none !important}
#cboxContent{background:none; padding-bottom:20px}
#cboxNext{position:absolute; bottom:5px; left:50%; background:url(../images/nal_c.png) no-repeat; width:32px; height:32px; text-indent:-9999px; margin-left:-36px}
#cboxPrevious{position:absolute; bottom:5px; right:50%; background:url(../images/nar_c.png) no-repeat; width:32px; height:32px; text-indent:-9999px; margin-right:-36px}
#cboxCurrent{left:5px}
#cboxTitle{background-color:rgba(0,0,0,0.8); bottom:48px; color:#fff; padding:5px}
.vote_block{border:1px solid #eee; background:url(../images/vote_bg.png) no-repeat 20px center rgba(255,255,255,0.8); min-height:270px}
.ques{padding:20px; font-size:18px; font-weight:bold}
.options{padding:0 40px; font-size:16px}

.links{background-image:url("../images/bg_links.png"); height:100%; background-attachment:fixed; background-position:center; background-repeat:no-repeat; background-size:cover; padding:50px 0}
.links>div{max-width:1170px; width:100%; padding:0 10px; margin:0 auto; position:relative}
.links .htitle{color:#fff; background:url(../images/under_title_w.png) no-repeat bottom center}

.links ul{padding:0; margin:0; list-style:none}
.links ul li{float:right; width:25%; padding:10px}
.links ul li a:link, .links ul li a:visited{display:block; text-align:center; color:#fff; font-weight:500; border:1px solid #fff; height:180px; padding:5px; transition:all 0.3s ease-out}
.links ul li a:hover{background-color:#fff; color:#009247; transition:all 0.3s ease-out; border-radius:15px}
.links ul li a svg{width:75px !important; height:100px !important; transition:all 0.3s ease-out}
.links ul li a:hover svg{color:#009247; transition:all 0.3s ease-out}

footer{background:url(../images/bg_footer.png) repeat}
.fmenu{max-width:1170px; width:100%; padding:60px 10px; margin:0 auto; position:relative}
.bottom_bar{background-color:#303030}
.fmenu ul{padding:0; margin:0; list-style:none}
.fmenu ul li{float:right; width:25%; border-left:1px solid #575757; padding:0 10px}
.fmenu ul li:last-child{border-left:none}
.fmenu ul li:first-child{color:#d6a329; font-size:15px}
.fmenu ul li:first-child a{display:block; margin-bottom:15px}
.fmenu ul li.flist a:link, .fmenu ul li.flist a:visited{font-size:16px; color:#fff; display:block; padding:4px 0}
.fmenu ul li.flist a:hover{color:#d6a329}
.fmenu ul li:first-child img{max-width:100%}
.newsletter strong{color:#d6a329; font-size:30px; display:block}
.newsletter>span{color:#fff; font-size:16px; display:block; padding:10px 0}
.newsletter input[type="text"]{font-family:"GE SS Two"; font-size:16px; color:#404040; border:none; padding:5px; margin-top:5px}
.newsletter input[type="button"]{color:#fff; font-family:"GE SS Two"; font-size:16px; border:none; padding:5px 10px; background-color:#d6a329; cursor:pointer; margin-top:5px}

.bottom_bar>div{max-width:1170px; width:100%; padding:20px 10px; margin:0 auto; position:relative}
.bottom_bar .bb_right{color:rgba(255,255,255,0.5); font-size:16px; float:right; width:50%}
.bottom_bar .bb_right span{display:inline-block; font-size:30px; position:relative; bottom:-6px; padding:0 2px}
.bottom_bar .bb_left{float:left; width:50%; text-align:left; display:block}

.bottom_bar .bb_left img{height:30px !important; color:#fff; opacity:0.5; padding:0 2px}
.scrollup{position:absolute; top:-30px; color:#fff; right:50%}
.scrollup:hover{color:#d6a329;}
.scrollup svg{z-index:9999; position:relative}
.scrollup svg:hover{color:#d6a329;}
.scrollup:after{content:""; width:0; height:0; border-left:45px solid transparent; border-right:45px solid transparent; border-bottom:45px solid #303030; position:absolute; top:-14px; right:50%; margin-right:-45px; transition:all 0.3s ease-out}
/*
====================INNER PAGES===========================
*/
.app_inner_pages_bg{background: #f0f0f0 url(../images/dot.png);position: relative;padding-top: 20px;}
.white_gradient{background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.9) 100%);width: 100%;height: 100%;bottom: 0;left: 0;position: absolute;}
.app_inner_pages_container{background: #fff;box-shadow: 0 -5px 0 0 rgba(147, 149, 152, 0.2);min-height: 440px;padding: 30px;}
.bread_crumb ul{margin:0 0 10px; list-style:none;}
.bread_crumb ul li{display:inline-block; vertical-align:middle;}
.bread_crumb ul li a{color:#4b4b4b;font-size: 16px;font-weight: 500;}
.app_inner_pages_bg>.container{position:relative;padding-bottom: 20px;}
.bread_crumb ul li a svg{vertical-align: middle; margin: 0 5px; color:#808080}
.bread_crumb ul li:last-child a svg{display: none}
.bread_crumb ul li:last-child a{color:#737373; cursor: default; pointer-events: none}
.container{margin: auto; max-width: 1180px;}
.clearfix:after{content: ''; clear:both; display: block;}
.sidemenu{float:right;width: 25%;max-width: 273px;}
.inner_pages_main{float:left;width: 100%;}

.sidemenu ul{background: #fff;padding: 20px;list-style: none;margin: 0;}
.sidemenu h1{margin: 0;color:#009247;text-align: center;font-size: 20px;background: url(../images/sidemenu_bg_03.png) no-repeat center 29px;height: 49px;}
.sidemenu ul li{border-bottom: 1px solid #ebebeb}
.sidemenu ul li a{color:#808080; padding: 15px; display: block;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.sidemenu ul li a:hover{background:#f4f4f4; color:#029146}
.sidemenu ul li.current a{background: #ebebeb;font-weight:  400;color: #029146;border-right: 4px solid #029146;}
.sidemenu ul li.current a svg{float:left; font-size:26px;}
.img-responsive{max-width: 100%;}
.news_details_title{color:#404040; font-size: 23px;}
.news_details_date{color:#999; font-size: 14px; font-weight: 400}
.news_details_date svg{color:#d6a329; float:right; font-size: 20px; margin: 2px 0 0 5px;}
.inner_pages_main p{font-size: 16px;}
.content_box_footer{margin-top:10px;border-top:1px solid rgba(0,0,0,0.15);padding-top:10px}
.last_update{float:right}
.share_article{float:left}
.last_update span{font-weight:100;font-size:14px;color:#404040}
.last_update span svg{color:#009247;font-size:17px;margin-left:5px}

.news-item-img{width: 27%;overflow: hidden;height:  100%;position:  absolute;left: 0;bottom:  0;}
.news-item-img img{/* width: 100%; */height: 100%;}
.news-item-desc{float:right;width: 72%;padding: 15px;}
.news-item-desc .news-item-title{font-size:16px;display:block;margin-bottom: 5px;margin-top:5px;color: #029146;font-weight: 400;}
.news-item a .news-item-desc .news-item-date{ display: block; color:#939598; font-weight: 400; font-size: 14px;}
.news-item-desc .news-item-date svg{font-size:18px;color: #d6a329;margin-left: 5px;}
.news-item a .news-item-desc p{margin: 0;font-size:  15px;color:#404040;}
.news-item-desc a{color:#535353; margin-top:5px; display:block;}
.news-item-desc a svg{margin-right:5px;}
.news-item{padding: 0;background: #f5f5f5;margin-bottom: 30px;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);position:  relative;}
.news-item:hover{background:#fff; box-shadow:0 0 0 3px #029146}
.news-item:hover .news-item-img img{transform: scale(1.1) rotate(5deg)}
.news-item *{transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.news-item>a{display:block}
.PagerContainerTable{text-align:center;border-spacing:0;display:  block;clear: both;}
.PagerContainerTable tbody, .PagerContainerTable tbody tr{display:block;}
.PagerInfoCell,.PagerCurrentPageCell,.PagerOtherPageCells{padding: 0;border-right:none;display:  inline-block;margin: 16px -1px 0 0;font-size: 16px;transform: skew(-200deg);}
.PagerOtherPageCells{padding:0}
.PagerContainerTable td a,.PagerContainerTable td a:visited{display:block;color: #7c7d80;background: #ebebeb;height: 34px;line-height: 34px;margin: 0;text-decoration:  none;text-align: center;padding: 0 15px;font-weight: 400;}
.PagerContainerTable td a span{display:block; transform:skewX(200deg)}
.PagerCurrentPageCell span.PagerHyperlinkStyle{display:block;color: #fff;background: #029146;height: 34px;line-height: 34px;margin: 0;text-decoration:  none;text-align:  center;padding: 0 15px;}
.PagerCurrentPageCell span.PagerHyperlinkStyle strong{transform:skewX(200deg);display: block;}
.PagerContainerTable tr td:last-child a svg{font-size:20px; margin-right:5px; vertical-align:middle}
.PagerContainerTable tr td:first-child{background: #ebebeb;color: #808080;height:34px;line-height:34px;padding:0 15px;font-weight: 400;}
.PagerInfoCell span{transform:skewX(200deg); display:block}
.bread_crumb{float:right}
.inner-page-utilities{float:left; padding-bottom: 10px}
.inner-page-utilities a{background:#999; color:#fff; font-size:17px;width:34px; height:31px; text-align:center; line-height:34px;display:inline-block; transform:skewX(-200deg); margin-left: 7px; margin-right: -8px;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.inner-page-utilities a:hover{background: #009247}
.inner-page-utilities a svg{transform:skewX(200deg)}
.form_group{padding:5px 15px;}
.form_group label{display: block;}
.form_control{width: 100%;border: 2px solid #d7d7d7;box-shadow: inset 0px 1px 5px 0 rgba(0, 0, 0, 0.1);height: 43px;line-height: 43px;padding: 0 10px;font-family:"GE SS Two";transition: all 0.3s cubic-bezier(.33, .07, .23, .86); outline: none}
.form_control:focus{border:2px solid #009247}
.app_btn{background: #d6a329; border: none; cursor: pointer; height: 43px;font-family:"GE SS Two"; color:#fff; font-size: 16px;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.app_btn:hover{background:#029146; border-radius:40px;}
.form_group .fa-calendar-alt{position: absolute;left: 22px;top: 36px;font-size: 29px;color:#009247;}
.col{width: 50%;display: inline-block;margin-right: -4px;position:  relative;}
.row{margin: 0 -15px;}
.form_group .radio-inline label{display: inline-block; color:#7c7d80; margin-right: 10px;}
.form_group dt, kbd kbd, label {font-weight: 400; font-size: 12px; vertical-align: middle;}
.form_group .radio-inline input{vertical-align: middle}
.form_group .radio-inline{border: 2px solid rgba(0, 0, 0, 0.05); height: 43px; line-height: 43px;}
.btn{background: #d6a329;border: none;cursor: pointer;height: 43px;font-family:"GE SS Two";color:#fff;font-size: 16px;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);padding: 10px 18px;}
.col-100{width: 100%}
.btn_group{text-align: left;padding: 15px 20px;}
.btn:hover{background:#029146; border-radius:40px;}
.btn:focus{background:#029146;}
.btn:active{background:#029146;}
.btn-primary_s{margin-top: 24px;margin-bottom: 20px;width: 100%;}
.btn-primary_s:hover{color: #fff;}
.btn-primary:focus{background:#029146;}
.btn-primary:active{background:#029146;}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.btn-primary.dropdown-toggle.focus, .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {color: #fff;background-color: #029146;border-color: #029146;}
.alert{position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem;border: 1px solid transparent;}
.alert-success {color: #155724;background-color: #d4edda;border-color: #c3e6cb;}
.alert-danger {color: #721c24;background-color: #f8d7da;border-color: #f5c6cb;}
.alert-warning {color: #856404;background-color: #fff3cd;border-color: #ffeeba;}
.alert-info {color: #0c5460;background-color: #d1ecf1;border-color: #bee5eb;}

.drop_down{display:inline-block;padding: 0;position:relative;height:  35px;width: 100%;line-height: 35px;border: 1px solid #d6a329;}

.gear{color:#eee;text-decoration:none;font-size: 18px;display:inline-block;vertical-align:middle;-webkit-transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);-moz-transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);-o-transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);}
.drop_down_menu{position:absolute;background: #333;top:55px;width:100%;left:0;border-radius:3px;padding: 0;z-index:2;visibility:hidden;opacity:0;-webkit-transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);-moz-transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);-o-transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);}
.OpenMenu{visibility:visible;opacity:1}
.arrow{width:0;height:0;border-left:9px solid transparent;border-right:9px solid transparent;border-bottom: 10px solid #333;z-index:2;position:absolute;top:-9px;left:20px;}
.drop_down_menu ul{list-style:none;padding:  0;margin: 10px;}
.drop_down_menu ul li{padding:5px 20px;color:#fff;transition:all .3s ease;-webkit-transition:all .3s ease;cursor:pointer}
.drop_down_menu ul li:hover{background:#d6a329}
.drop_down_menu ul li span{text-align:right;float:right;font-size:18px}
/*.rotate{transform:rotateX(180deg);color:#d6a329}*/
.drop_down>a{display: block;width: 100%;padding: 0;color: #808080;font-weight: 400;}
.drop_down>a .drop_down_bars{background:#d6a329;height:33px; width:33px; display:inline-block; text-align: center; color:#fff}
.drop_down>a strong{display: inline-block; padding:0 20px}
.drop_arrow{position: absolute; display: block; left: 10px;transition:all 300ms cubic-bezier(0.895,0.030,0.685,0.220);}
.table{text-align: right; border-collapse:collapse;margin: auto;}

.table tr th{color:#009247; font-size: 16px; padding:15px 20px}
.table tr td{font-size: 16px; color:#7c7d80; padding:15px 20px}
.table thead:first-child{box-shadow: -1px 2px 9px rgba(0, 0, 0, 0.15);}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #fff;}
.panel-heading {border-bottom: 1px solid transparent;border-top-left-radius: 3px;border-top-right-radius: 3px;}
.panel-info>.panel-heading{background-color: #fff;border-color: #f7f7f7;color: #009247;font-size: 16px;padding: 15px 20px;font-weight: 400;}
.drop_down_menu ul li svg{margin-left:10px}
.drop_arrow .fa-angle-up{display: none}
.rotate .fa-angle-up{display: block}
.rotate .fa-angle-down{display: none}
.drop_arrow svg{position: absolute; left:5px; top: 8px}

.grid_dropdown span, .grid_dropdown select{display: inline-block; vertical-align: middle}
.grid_dropdown span{width: 24%;height: 32px;background: #d6a329;text-align: center;font-size: 24px;line-height: 38px;color:#fff;}
.grid_dropdown select{background:#f7f7f7;border: 1px solid #d6a329;height: 32px;width: 76%;margin-right: -4px;font-family:"GE SS Two";color:#808080;padding:0 5px;font-size: 16px;}
.table tr:nth-child(even) td{background:#fff;vertical-align: middle;}
.table tr:nth-child(odd) td{background:#f7f7f7;vertical-align: middle;}

div.download_item{margin-bottom: 0;transition:all .3s ease;padding: 0 10px 0 0;background: #f7f7f7; margin-bottom:10px}
.file_name{font-size:16px;float:right;color:#404040;font-weight: 400;line-height: 1.5;}
.file_name span{display:inline-block;font-size: 31px;vertical-align: middle;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
div.download_item a{float:left;color: #029146;font-size:16px;transition:all .3s ease;padding: 11px 20px;text-decoration:none;font-weight: 400;background: #ebebeb;}
div.download_item a svg{color: #029146;font-size: 24px;margin-right:5px;float:left;margin-top:0;}
div.download_item a:hover{background: #029146;color:#fff;}
.download_item .fa-file-pdf{color: #999;margin-left:5px;vertical-align: middle;}
div.download_item a:hover svg{color:#fff}
.dashboard_item{float:right;width: 31%;border:2px solid #dbdbdb;text-align: center;padding: 30px;margin: 2% 3.5%;position: relative;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.dashboard_item span{display: block;color: #555;font-weight:  400;font-size:  24px;margin-top: 12px;position:relative;}
.dashboard_item img{position:relative;}
a.dashboard_item:nth-child(3n+1) {margin-right: 0; margin-left: 0}
a.dashboard_item:nth-child(3n+0) {margin-right: 0; margin-left: 0}
.dashboard_item:after{content: '';background: #fff;width:40px;height: 40px;border-right: 2px solid #dbdbdb;display: block;position: absolute;left: -21px;top: -21px;transform: rotate(45deg);transition: all 0.3s cubic-bezier(.33, .07, .23, .86);z-index: 4;}
.dashboard_item:hover, .dashboard_item:hover:after{border-color: #029146}
.dashboard_item:hover span{color:#029146}
.dashboard_item:hover{background-color: hsla(149, 97%, 29%, 0.09);background-image: repeating-linear-gradient(45deg, transparent, transparent 18px, rgba(255,255,255,.5) 18px, rgba(255,255,255,.5) 40px);}
.table-scrollable {width: 100%;overflow-x: auto;overflow-y: hidden;border: 1px solid #fff;margin: 10px 0!important;}
table.bt thead,table.bt tbody th{display:none}
table.bt tfoot th,table.bt tfoot td,table.bt tbody td{border:none;display:block;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;vertical-align:top;float:left\9;width:100%\9}
table.bt tfoot th::before,table.bt tfoot td::before,table.bt tbody td::before{content:attr(data-th) ": ";display:inline-block;-webkit-flex-shrink:0;-ms-flex-shrink:0;flex-shrink:0;font-weight:700;width:6.5em}
table.bt tfoot th.bt-hide,table.bt tfoot td.bt-hide,table.bt tbody td.bt-hide{display:none}
table.bt tfoot th .bt-content,table.bt tfoot td .bt-content,table.bt tbody td .bt-content{vertical-align:top}
.bt-wrapper.active{max-height:310px;overflow:auto;-webkit-overflow-scrolling:touch}
.panel-info {border-color: #e8e8e8;}

.photogallery_item{float:right;width: 31%;text-align: center;padding: 0;margin: 0 3.5% 3%;position: relative;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.photogallery_item span{height: 162px;display:block;overflow:hidden;border: 1px solid #f0f0f0;}
.photogallery_item strong{display: block;color: #404040;font-weight:  400;font-size:  16px;position:relative;border: 5px solid #eee;padding: 10px;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.photogallery_item img{position:relative;max-width: 100%;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.photogallery_item:hover img{transform: scale(1.1);}
.photogallery_item:hover strong{border: 5px solid #029146; color:#029146}
div.photogallery_item:nth-child(3n+1) {margin-right: 0; margin-left: 0}
div.photogallery_item:nth-child(3n+0) {margin-right: 0; margin-left: 0}
textarea.form_control{height: 150px}
.col.contact{vertical-align: top}

.col-7{width: 60%;}
.col-4{width: 40%}
.contact_btn{background:#d6a329;border: none;border-radius: 100px;width: 50px;height: 50px;color:#fff;text-align: center;line-height: 50px;font-size: 30px;cursor:  pointer;position:  absolute;left: 0;bottom: -13px;box-shadow: 0 0 0 5px #fff;}
.contact_btn svg{transform: scaleX(-1); display: inline-block}
.col.contact .form_group{position:relative}

.location_map{overflow: hidden; border: 2px solid #d9d9d9; margin-top: 50px; height: 360px;}
.location_map iframe{width: 100%;}

.lg-outer .lg-thumb{margin:auto}

.a2a_svg{width:26px !important;height:26px !important;transition: all 0.3s cubic-bezier(.33, .07, .23, .86);}
.a2a_count{height:27px !important; line-height:27px !important}
.a2a_default_style a{margin-right:5px}
.panel-default>.panel-heading {color: #333;background-color: #fff;border-color: #ddd;}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .form_control-feedback, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {font-size: 12px;}

.input-icon>i{margin: 17px 10px 4px 2px;font-size: 24px;}.input-icon>.form_control {padding-right: 40px;}
.page-bar {background-color:#ffffff;margin-top:160px;}.page-bar-menu {padding-top: 10px;margin-bottom: 30px;background-color:#ffffff;}
.page-header.navbar .page-logo{background:#17C4BB}.page-header.navbar .page-top{box-shadow:0 5px 10px 0 rgba(50,50,50,.1);background:#ffffff;}
.login .content .form-title {font-weight: 700;margin-bottom: 25px;}
.login .content h3 {font-family: 'Cairo', sans-serif;font-size: 16px;font-weight: 600;}
.login .content h4 {font-family: 'Cairo', sans-serif;font-size: 16px; font-weight: 600;}
.login .logo {margin: 0;padding: 90px;text-align: center;}.login .form_control{height: 50px;padding: 0px 32px 0 10px;}.login .input-icon>i{margin: 17px 10px 4px 2px;font-size: 24px;}
.login .content{width: 360px;position: relative; margin: auto;}.login .input-icon>.form_control {padding-right: 44px;}.login .content .forget-password {text-align: center;}
.table td {text-align: center;}
.table th {text-align: center;}
.no-align td, .no-align th {text-align: right;}

/*
====================MOBILE===========================
*/
@media (max-width:2050px){ .slider .slick-slide img{height:600px}
}
@media (max-width:2000px){ .slider .slick-slide img{height:580px}
}
@media (max-width:1750px){ .slider .slick-slide img{height:510px}
}
@media (max-width:1400px){ .slider .slick-slide img{height:410px}
}v

@media (max-width:1280px){ .srch>div{right:-155px}
 .bg .bg_r div{max-width:80%}
 .bg .bg_l div{max-width:80%}
 .bg .bg_r .title, .bg_l .title{font-size:24px}
 .slider .slick-slide img{height:370px}
 .container{width:98%}
}

@media (max-width:1160px){nav #menu{display:none}
nav .slicknav_menu{display:block}
.slider .slick-slide img{height:340px}
}
@media (max-width:1024px){ .slider .slick-slide img{height:300px}
.dashboard_item:after{width:30px; height:30px; top:-15px; left:-15px}
}
@media (max-width:990px){.bg .bg_r{float:none; width:100%; margin:1% 0 0 0; transform:skew(0deg,0deg); margin-right:0}
.bg .bg_l{float:none; width:100%; margin:0 0 1% 0; transform:skew(0deg,0deg); margin-left:0}
.bg .bg_r div, .bg .bg_l div{width:100%; transform:skew(0deg,0deg); max-width:100%; padding:20px 60px; float:none}
.bg .bg_r img, .bg .bg_l img{transform:skew(0deg,0deg)}

.news, .update{width:100%}
.news{margin-bottom:40px}
.inner_pages_main{width:100%}
}
@media (max-width:850px){ .slider .slick-slide img{height:245px}
.inner_pages_main{width:100%}
}
@media (max-width:768px){ .slider .slick-slide img{height:325px}
 .gallery>div>div:nth-child(1), .gallery>div>div:nth-child(2){width:50%}
 .gallery>div>div:nth-child(3){margin-top:50px}
 .gallery>div>div{width:100%}
 .links ul li{width:50%}

 .fmenu ul li{width:100%; border-left:none}
 .fmenu ul li:nth-child(2){margin-top:30px}
 .fmenu ul li:nth-child(3){margin-bottom:30px}
 .bottom_bar .bb_left{float:none; border-top:1px dotted #606060; text-align:right; clear:both}
 .bottom_bar .bb_right, .bottom_bar .bb_left{width:100%; padding:10px 0}
 .inner_pages_main{display:table-header-group;}
 .app_inner_pages_container{margin-bottom:20px}
.inner_pages_main{width:100%}
}
@media (max-width:650px){ header .logo{width:100%; text-align:center}
 header ul{width:100%; text-align:center}
 header ul li{float:none; display:inline-block}
 .srch>div{right:-85px}
header .date{width:100%; text-align:center}
.bg .bg_l .des{font-size:16px}
.slider .slick-slide img{height:185px}
.dashboard_item, .photogallery_item{width: 48%; margin: 2.5% 0}
a.dashboard_item:nth-child(2n+0), a.photogallery_item:nth-child(2n+0) {margin-right: 4%;}
.col{display:block; width:100%; margin:0}
.inner_pages_main{width:100%}
}
@media (max-width:550px){ .slider .slick-slide img{height:155px}
 .gallery>div>div{width:100% !important}
 .gallery>div>div:nth-child(2){margin:30px 0}
 .gallery>div>div:nth-child(3){margin-top:0}
.news-item{padding-bottom: 10px}
.news-item-desc{width: 100%; float:none}
.news-item-img{position: relative; width: 95%; margin:auto;float:none }
.news-item-img img{width: 100%}
.inner_pages_main{width:100%}
}
@media (max-width:480px){ .slider .slick-slide img{height:135px}
.dashboard_item, .photogallery_item{width:100%; margin:4% 0 !important}
.inner_pages_main{width:100%}
}
@media print{}
